<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="adminDTO" type="com.zurazu.zurazu_backend.provider.dto.AdminDTO"/>
        <typeAlias alias="memberDTO" type="com.zurazu.zurazu_backend.provider.dto.MemberDTO" />
        <typeAlias alias="mainCategoryDTO" type="com.zurazu.zurazu_backend.provider.dto.MainCategoryDTO" />
        <typeAlias alias="subCategoryDTO" type="com.zurazu.zurazu_backend.provider.dto.SubCategoryDTO" />
    </typeAliases>
</configuration>