<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="adminDTO" type="com.zurazu.zurazu_backend.provider.dto.AdminDTO"/>
        <typeAlias alias="memberDTO" type="com.zurazu.zurazu_backend.provider.dto.MemberDTO" />
        <typeAlias alias="mainCategoryDTO" type="com.zurazu.zurazu_backend.provider.dto.MainCategoryDTO" />
        <typeAlias alias="subCategoryDTO" type="com.zurazu.zurazu_backend.provider.dto.SubCategoryDTO" />
        <typeAlias alias="personalInfoDTO" type="com.zurazu.zurazu_backend.provider.dto.PersonalInfoDTO"/>
        <typeAlias alias="applySellProductDTO" type="com.zurazu.zurazu_backend.provider.dto.ApplySellProductDTO"/>
        <typeAlias alias="applySellProductImageDTO" type="com.zurazu.zurazu_backend.provider.dto.ApplySellProductImageDTO"/>
        <typeAlias alias="selectAllLimitDTO" type="com.zurazu.zurazu_backend.web.dto.SelectAllLimitDTO"/>
        <typeAlias alias="requestRegisterProductDTO" type="com.zurazu.zurazu_backend.web.dto.RequestRegisterProductDTO"/>
        <typeAlias alias="colorChipDTO" type="com.zurazu.zurazu_backend.provider.dto.ColorChipDTO"/>
        <typeAlias alias="productThumbnailDTO" type="com.zurazu.zurazu_backend.provider.dto.ProductThumbnailDTO"/>
        <typeAlias alias="selectAllProductThumbnailsDTO" type="com.zurazu.zurazu_backend.web.dto.SelectAllProductThumbnailsDTO"/>
        <typeAlias alias="registerProductImageDTO" type="com.zurazu.zurazu_backend.provider.dto.RegisterProductImageDTO"/>
        <typeAlias alias="registerProductDTO" type="com.zurazu.zurazu_backend.provider.dto.RegisterProductDTO"/>
        <typeAlias alias="requestPurchaseDTO" type="com.zurazu.zurazu_backend.web.dto.RequestPurchaseDTO"/>
    </typeAliases>
</configuration>