<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applySellProductTable">
    <resultMap id="selectApplyProductMap" type="applySellProductDTO">
        <id column="idx" property="idx" />
        <result column="member_idx" property="memberIdx"/>
        <result column="category_idx" property="categoryIdx"/>
        <result column="brand_name" property="brandName"/>
        <result column="purchasePrice" property="purchasePrice"/>
        <result column="desiredPrice" property="desiredPrice"/>
        <result column="clothing_size" property="clothingSize"/>
        <result column="clothing_status" property="clothingStatus"/>
        <result column="gender" property="gender"/>
        <result column="comments" property="comments"/>
        <result column="create_date" property="date"/>
        <result column="sale_status" property="saleStatus"/>
        <result column="order_number" property="orderNumber"/>
        <result column="locker_time" property="lockerTime"/>

    </resultMap>
    <resultMap id="selectApplyProductImageMap" type="applySellProductImageDTO">
        <id column="idx" property="idx"/>
        <result column="apply_sell_product_idx" property="applySellProductIdx"/>
        <result column="url" property="url"/>
        <result column="tag" property="tag"/>
    </resultMap>
    <insert id="insertProduct" parameterType="applySellProductDTO" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
        INSERT INTO apply_sell_products_tb
        ( member_idx,
        category_idx,
        brand_name,
        purchasePrice,
        desiredPrice,
        clothing_size,
        clothing_status,
        gender,
        comments )
        VALUES
        ( #{memberIdx},
        #{categoryIdx},
        #{brandName},
        #{purchasePrice},
        #{desiredPrice},
        #{clothingSize},
        #{clothingStatus},
        #{gender},
        #{comments} );
    </insert>
    <insert id="insertProductImages" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx"> <!-- 리스트로 받아 한번에 삽입 -->
        INSERT INTO apply_sell_product_images_tb
        ( apply_sell_product_idx,
        url,
        tag )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.applySellProductIdx}, #{item.url}, #{item.tag})
        </foreach>
    </insert>
    <select id="selectAllProducts" resultMap="selectApplyProductMap" parameterType="selectAllLimitDTO">
        SELECT * FROM apply_sell_products_tb LIMIT #{limit} OFFSET #{offset};
    </select>
    <select id="selectAllMyProducts" resultMap="selectApplyProductMap" parameterType="selectAllLimitDTO">
        SELECT * FROM apply_sell_products_tb
        WHERE member_idx = #{idx}
        LIMIT #{limit} OFFSET #{offset};
    </select>
    <select id="selectOneProduct" resultMap="selectApplyProductMap">
        SELECT * FROM apply_sell_products_tb
        WHERE idx = #{idx};
    </select>
    <select id="selectAllImages" resultMap="selectApplyProductImageMap">
        SELECT * FROM apply_sell_product_images_tb
        WHERE apply_sell_product_idx = #{productIdx};
    </select>
    <update id="updateSaleStatus" parameterType="applySellProductDTO">
        UPDATE apply_sell_products_tb
        SET sale_status = #{saleStatus}
        <if test='saleStatus != null and saleStatus.toString() == "AGREE"'>
            , locker_time = DATE_ADD(now(), INTERVAL 10 DAY)
        </if>
        WHERE idx = #{idx};
    </update>
</mapper>