<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="categoryTable">
    <resultMap id="mainCategoryMap" type="mainCategoryDTO">
        <id column="idx" property="idx" />
        <result column="korean" property="korean" />
        <result column="english" property="english"/>
        <result column="priority" property="priority" />
    </resultMap>
    <resultMap id="subCategoryMap" type="subCategoryDTO">
        <id column="idx" property="idx" />
        <result column="korean" property="korean" />
        <result column="english" property="english" />
        <result column="priority" property="priority" />
        <collection property="mainCategory" resultMap="mainCategoryInSubCategoryMap"/>
    </resultMap>

    <resultMap id="mainCategoryInSubCategoryMap" type="mainCategoryDTO">
        <result column="main_idx" property="idx"/>
        <result column="main_korean" property="korean"/>
        <result column="main_english" property="english"/>
    </resultMap>

    <select id="selectAllMainCategories" resultMap="mainCategoryMap" >
        SELECT * FROM main_categories_tb
        ORDER BY priority;
    </select>
    <select id="selectAllSubCategories" resultMap="subCategoryMap">
        SELECT s.*, m.idx AS main_idx, m.korean AS main_korean, m.english AS main_english
        FROM sub_categories_tb AS s
        INNER JOIN main_categories_tb AS m ON m.idx = s.main_category_idx
        ORDER BY priority;
    </select>
    <select id="selectSubCategories" resultMap="subCategoryMap" >
        SELECT s.*, m.idx AS main_idx, m.korean AS main_korean, m.english AS main_english
        FROM sub_categories_tb AS s
        INNER JOIN main_categories_tb AS m ON m.idx = s.main_category_idx
        WHERE s.main_category_idx = #{mainIdx}
        ORDER BY priority;
    </select>
    <select id="selectOneSubCategory" resultMap="subCategoryMap">
        SELECT s.*, m.idx AS main_idx, m.korean AS main_korean, m.english AS main_english
        FROM sub_categories_tb AS s
        INNER JOIN main_categories_tb AS m ON m.idx = s.main_category_idx
        WHERE s.idx = #{idx}
    </select>
</mapper>